body{
    font-size: 14px;
    font-family: Microsoft YaHei, Tahoma, Geneva, sans-serif;
    background: rgba(15, 212, 177, 0.69);
}
#content ul{
    width: 960px;
    margin: 150px auto;
    padding: 60px 0;
    list-style: none;
}
#content ul li{
    margin-right: 20px;
    width: 225px;
    height: 180px;
    float: left;
}
#content ul li:last-child{
    margin-right: 0;
}
#content ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /*舞台（动画元素的父容器）perspective*/
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
}
#content ul li a > div{
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
#content ul li a div:first-child{
    /*
    绕y轴旋转
    */
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    z-index: 2;
}
#content ul li a div:last-child{
    background: url("../images/027_bg.jpg") no-repeat 0 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    z-index: 1;
}
#content ul li a:hover div:first-child{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
#content ul li a:hover div:last-child{
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
}
#content ul li a div h3{
    margin: 0 auto 15px;
    padding: 15px 0;
    width: 200px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px #fff dashed;
}
#content ul li a div p{
    padding: 0 10px;
    font-size: 12px;
    text-indent: 2em;
    line-height: 18px;
}