
    *{
      margin: 0;
      padding: 0;
    }
    #nav{
      background-color: pink;
      width: 360px;
      height: 40px;
      margin: 0 auto;
    }
    ul{
      list-style: none; /*将样式取消*/
    }
    li{
      float: left;
      line-height: 40px;
      text-align: center;
      position: relative;
    }
    a{
      text-decoration: none;
      color: #000;
      padding: 0 10px;
      display: block;
    }
    a:hover{
      color: #fff;
      background-color: #666;
    }
    ul li ul li{
      float: none;
      background-color: pink;
      margin-top: 2px;
    }
    ul li ul{
      display: none;
    }
    ul li ul li a:hover,ul li ul li:hover{
      background-color: #666;
    }
    ul li:hover ul{
      display: block;
    }