body,html {
    width: 100%;
    height: 100%;
    
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif, center;
    font-weight: 700;
    margin: 0 auto;
}
/*猫头像动画*/
#cat_p{
  transition: 2s;
  -moz-transition: 2s; /* Firefox 4 */
  -webkit-transition: 2s; /* Safari 和 Chrome */
  -o-transition: 2s; /* Opera */
  -webkit-transform:rotate(30deg) scale(0.8); 
  -moz-transform:rotate(30deg) scale(0.8); 
  -o-transform:rotate(30deg) scale(0.8); 
  -ms-transform:rotate(30deg) scale(0.8); 
}
#cat_p:hover {
  transition: 2s;
  -moz-transition: 2s; /* Firefox 4 */
  -webkit-transition: 2s; /* Safari 和 Chrome */
  -o-transition: 2s; /* Opera */
  -webkit-transform:rotate(-20deg) scale(1); 
  -moz-transform:rotate(-20deg) scale(1); 
  -o-transform:rotate(-20deg) scale(1); 
  -ms-transform:rotate(-20deg) scale(1); 
}
.topnav {
    font-size: 16px;
    border-bottom: 1px outset rgba(192, 192, 192, 0.5);
    background: rgba(192, 192, 192, 0.9);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.topnav ul.navbar-nav li a {
background: rgba(28, 28, 28, 0.1);
color: #000;
}
.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus{
background: rgba(255, 255, 255, 0.5);
color: #000;
}

.topnav .navbar-brand {
  background: rgba(28, 28, 28, 0.0);
  color: #000;
}

.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    color: #FF8247;
}

/*top background*/
.intro-header {
    height: 905px;  
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    background-size: cover !important;
    background: url("../images/bird.jpeg") no-repeat center center fixed;
}
.bg-overlay {
  background:rgba(0,0,0, 0.3);
  height: 855px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
/*Big header*/
.intro-message > h1 {
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*small header*/
.intro-message > h3 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  color: black;
}

@media(max-width:767px) {
  .intro-message {
      padding-bottom: 15%;
  }

  .intro-message > h1 {
      font-size: 3em;
  }

  ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
  }

  .intro-divider {
      width: 100%;
  }
}
/*line*/
hr .intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 100%;
}
/* social buttons */
.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn:hover {
  color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}

/*section 2*/
.content-section-a {
    padding: 50px 0;
    background-size: cover !important;
    background: url("../images/work.jpeg") no-repeat center center fixed;
    height: 781px;
}
.bg-overlay2 {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.2);
  height: 782px;
}
  /*self-taught*/
.container .link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
}

.container .link:hover {
  color: rgb(0,0,128);
  font-weight: bold;
  font-size: 22.5px;
}

h2.section-heading {
    margin-top: 100px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.9);
}

  /*text*/
 .content-section-a p {
    font-size: 22px;
   font-weight: bold;
    color: #000;
  }
.content-section-a p a {
  color: silver;
  font-weight: bold;
}
/*profile picture*/
.img-circle {
  margin-top: 150px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  
}
@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/*.col-md-4 {
  overflow: hidden;
  display: inline-block;
  border: 1px outset rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1%;
  text-align: center;
  box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}
.col-md-4:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);  
}*/

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    background: url('../images/classmates.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 755px;
}

.bg-overlay4 {
  margin-top: -100px;
  padding: 100px 0;
  background: rgba(255,255,255, 0.3);
  height: 755px;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
}

h2.connect {
   margin: 0;
   color: rgba(0, 0, 0, 0.9);
}

footer {
    padding: 50px 0;
    background: rgba(192, 192, 192, 0.9);
}

p.copyright {
    margin: 15px 0 0;
}
.club-bg-img {
  color: black;
  background: url("../images/colleagues.jpeg") no-repeat center center fixed;
  background-size: cover;
}