*{
  margin: 0;
  padding: 0;
}
h3{
  text-align: center;
}
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  margin-left: 218px;
  padding: 8px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.content{
  margin: 0 auto;
  margin-top: 60px;
  width: 600px;
  height: 500px;
  line-height: 40px;
  font-family: "微软雅黑";
  position: relative;
  background-color: #eee;
}
.box span{
  color:red;
}
.box p{
  margin-left: 10px;
}