#bg {
  width: 650px;
  height: 600px;
  margin: 0 auto;
  background: url(images/turntable-bg.jpg) no-repeat;
  position: relative;
}
.pointer {
  position: absolute;
  z-index: 10;
  top: 155px;
  left: 247px;
}
.turntable {
  position: absolute;
  z-index: 5;
  top: 60px;
  left: 116px;
  transition: all 4s;
}