/*为了使图片更贴合,将所有标签的边距设为 0 */
figure,figcaption {
   display: block; 
}
body,figure,figcaption,h2,p,img{
  margin: 0;
  padding: 0;
}
figure{
  position: relative;
  width: 33%;
  overflow: hidden;
  height: 350px;
  float: left;
}
figcaption{
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "微软雅黑";
}
figure img{opacity: 0.8; transition: all 0.35s;}
figure figcaption p,h3,div{
  transition: all 0.35s;
}
.test1{background-color: #2F0000}
.test1 figcaption p{ 
  background-color: #FFF; 
  color: #333;
  margin-top: 3px;
  text-align: center;
  transform: translate(-150px,0px);
}
.test1 figcaption p:nth-of-type(1){transition-delay:0.05s;}
.test1 figcaption p:nth-of-type(2){transition-delay:0.1s;}
.test1 figcaption p:nth-of-type(3){transition-delay:0.15s;}
.test1 figcaption{
  padding: 20px;
}
.test1:hover figcaption p{transform: translate(0px,0px);}
.test1:hover img{transform: translate(-50px,0px); opacity: 0.5}
