/*为了使图片更贴合,将所有标签的边距设为 0 */
figure,figcaption {
   display: block; 
}
body,figure,figcaption,h2,p,img{
  margin: 0;
  padding: 0;
}
figure{
  position: relative;
  width: 33%;
  overflow: hidden;
  height: 350px;
  float: left;
}
figcaption{
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "微软雅黑";
}
figure img{opacity: 0.8; transition: all 0.35s;}
figure figcaption p,h3,div{
  transition: all 0.35s;
}
.test1{background-color: #2F0000}
.test1 figcaption{width: 100%; height: 100%;}
.test1 figcaption h3{margin-top: 15%;margin-left: 15%;}
.test1 figcaption p{margin-top: 15%;margin-left: 15%;transform: translate(0px,50p0x); opacity: 0.5}
.test1 figcaption div{border: 2px solid #FFF; height: 80%;width: 80%;position: absolute;top: 10%;left: 10%; transform: translate(0px,-330px) rotate(0deg);}
.test1:hover figcaption div{transform: translate(0px,0px) rotate(360deg);}
.test1:hover img{opacity: 0.5;}
.test1:hover figcaption p{transform: translate(0px,0px); opacity: 1}