.main{
  /*
    transition依次三个属性
    第一个是名字
    第二个是此次变化的时间,如不指定,动画就不会运行
    第三个是延迟多少秒执行
    IE10及以下不能识别
  */
  -webkit-transition: all 1s 0s; 
  -moz-transition: all 1s 0s;
  -ms-transition: all 1s 0s;
  -o-transition: all 1s 0s;
  margin-top: 200px;
}
.main ul{
  margin: 0;
  padding: 0;
  /*
    translate指定在水平方向移动的距离
    rotate 指定在各水平轴上转动的角度,正值是顺时针转动,负值是逆时针转动
    scale 控制该元素增加或减少的大小，取决于宽度（X轴）和高度（Y轴）的参数：
          在这里不变化
  */
  -webkit-transform: translate(0px,0px,0px) rotate(0deg,0deg,0deg) scale(1,1,1) ;
  -moz-transform: translate(0px,0px,0px) rotate(0deg,0deg,0deg) scale(1,1,1) ;
  -ms-transform: translate(0px,0px,0px) rotate(0deg,0deg,0deg) scale(1,1,1) ;
  -o-transform: translate(0px,0px,0px) rotate(0deg,0deg,0deg) scale(1,1,1) ;
}
.main ul li {
  list-style: none;
  position: absolute;
  width: 530px;
  height: 530px;
  left: 30%;
  top: 10%;
}

.main li img {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.main ul li:nth-of-type(1) {
  -webkit-transition: All 1.2s 0s;
  -moz-transition: All 1.2s 0s;
  -ms-transition: All 1.2s 0s;
  -o-transition: All 1.2s 0s;
  transition: All 1.2s 0s;
  -webkit-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  -o-transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  transform: translateX(0) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.main ul li:nth-of-type(1) img {
  -webkit-animation: z 5s linear 0s infinite;
  -moz-animation: z 5s linear 0s infinite;
  -ms-animation: z 5s linear 0s infinite;
  -o-animation: z 5s linear 0s infinite;
  animation: z 5s linear 0s infinite;
}

.main ul li:nth-of-type(2) {
  -webkit-animation: y 20s linear 0s infinite;
  -moz-animation: y 20s linear 0s infinite;
  -ms-animation: y 20s linear 0s infinite;
  -o-animation: y 20s linear 0s infinite;
  animation: y 20s linear 0s infinite;
}

.main ul li:nth-of-type(3) {
  -webkit-animation: z 10s linear 0s infinite;
  -moz-animation: z 10s linear 0s infinite;
  -ms-animation: z 10s linear 0s infinite;
  -o-animation: z 10s linear 0s infinite;
  animation: z 10s linear 0s infinite;
}

@-webkit-keyframes z {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}

@-webkit-keyframes y {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}
