html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}
ol, ul{
  list-style: none;
}
body{
  font-family: "微软雅黑";
}
#gallery{
  width: 700px;
  position: relative;
  margin: 20px auto 0;
  background-color: #000;
  min-height: 400px;
  padding: 20px;
}
#gallery h1{
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
#gallery ul{
  width: 140px;
  float: right;
  margin: 10px 0 20px;
}
#gallery ul li{
  float: left;
  margin: 20px 8px 0 0;
}
#gallery ul li span{
  display: block;
  position: relative;
  width: 60px;
  height: 80px;
  border: 1px solid #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
}
#gallery ul li span .touch img, #gallery ul li:hover span img{
  opacity: 1;
  filter: alpha(opacity=100);
}
#gallery ul li:hover div{
  display: block;
}
#gallery ul li div img{
  width: 460px;
  height: 288px;
  margin-bottom: -4px;
}
#gallery ul li div{
  display:none;
  position: absolute;
  top: 100px;
  left: 30px;
  border: 5px solid #fff;
}
.clearfix{
  clear: both;
}